<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Template • TodoMVC</title>
      <link rel="stylesheet" href="/todomvc-common/base.css">
      <link rel="stylesheet" href="/todomvc-app-css/index.css">

      <script src="/javascripts/myJs.js"></script>
  </head>
  <body>
    {{{body}}}
    <!-- Scripts here. Don't remove ↓ -->
    <script src="/todomvc-common/base.js"></script>

  </body>
</html>
